body {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.qVQU0phL7PxjC_Uaf0otegHaEB&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }